.allContent {
    margin: 2rem;
}

.transaction article {
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-end;
    margin-bottom: 3rem;
    align-items: center;
    font-size: 1.2rem;
}

.transaction article div {
    text-align: left;
    width: 60%;
    /* margin: 0 2rem; */
}



.transaction h1 {
    font-size: 1.5rem;
}


.green {
    color: green;
}

.red {
    color: red;
}


.searchbar {
    /* width: 50%; */
    margin: 5rem auto;
}

.searchbar input {
    width: 100%;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    /* text-align: center; */
    border-radius: 50px;
    border: none;
    background-color: #F7F7F7;
}

.muell {
    display: flex;
    justify-content: flex-end;
}

.bin {
    margin-left: 2rem;
    width: 8%;
}

.catImg {
    border-radius: 50px;
    margin: 1rem;
}