.Home {
    margin: 2rem;
    text-align: center;
}

/* .Home img {
    border-radius: 50px;
    width: 100%;
} */

/* .Home article {
    display: flex;
    justify-content: space-between;
} */

.Home article div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.Home h2 {
    text-align: left;
}

.spending {
    padding: 2rem;
    background-color: #F7F7F7;
    margin: 1rem;
    border-radius: 20px;
}

.cardImg {
    width: 100%;
    position: relative;
    transition: transform 0.5s;
}

.cardImg:hover {
    transform: rotateY(180deg);
}

.profilePic {
    height: 50px;
    width: 50px;
}