.add div {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.add div img {
    border-radius: 50px;
}

.backbutton {
    width: 6%;
}

.add h1 {
    margin: 2.5rem;
}

.add form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.add form label {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.add form input,
.add form select {
    text-align: center;
    width: 100%;
    padding: 2rem 1rem;
    background-color: #F7F7F7;
    border: none;
    border-radius: 50px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}



.add form button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #44BBFE, #2476D3);
    color: #fafafa;
    font-size: 1.5rem;
    margin: 2rem;
}

#addButton {
    padding: 1rem 3rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #44BBFE, #2476D3);
    color: #fafafa;
}