.landingPage1 {
    width: 100%;
    margin: 20% 0%;
    text-align: center;
}

.landingPage1 img {
    width: 40%;
    margin-bottom: 3rem;
}

.middleText {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-weight: bolder;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 4rem;
    font-size: 14px;
    width: 300px;
    text-align: center;
}

.landingPage1 div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skip {
    width: 30%;
    height: 10vh;
}