.landingPage1 .logo,
.landingPage1 .profilePic {
    display: none;
}


.landingPage1 {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}