.Account {
    font-size: 1.5rem;
    margin: 2rem;
}

.Account section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
}

.Account section p {
    /* text-align: center; */
}