@font-face {
    font-family: urbanist;
    src: url(./assets//fonts/Urbanist-Regular.ttf);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: urbanist;
}