.SignUp2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.SignUp2 form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.SignUp2 form input {
    border-radius: 10px;
    border: 1px solid grey;
}


.fullWidth {
    width: 100%;
}

.textArea {
    padding: 6rem 1rem;

}

.cardNumber {
    padding: 1rem;
    width: 100%;
}