.landingPage2 {
    width: 100%;
    margin: 20% 0%;
    text-align: center;
}

.landingPage2 img {
    width: 40%;
    margin-bottom: 3rem;
}

.middleText {
    width: 100%;
    margin: 0px auto;
}

article h1 {
    margin: 0px 0px 3rem 6rem;
    font-weight: bolder;
    width: 50%;
}

article p {
    margin: 0px 0px 3rem 3rem;
    font-size: 12px;
    width: 300px;
}

.landingPage2 div {
    display: flex;
    justify-content: center;
    width: 100%;
}